<div id="layout-new-product">

  <h2>Crear producto</h2>

  <div id="container-form">

    <form autocomplete="off" [formGroup]='form' (ngSubmit)="guardar()">

      <div>
      <label for="">Código</label>
      <input type="text"
      formControlName="codigo"
      placeholder="Código">
      </div>
      <span class="is-invalid" *ngIf="codigoNoValido">
        *El numero de código es obligatorio
      </span>

      <div>
        <label for="">Nombre</label>
        <input type="text"
        formControlName="nombre"
        placeholder="Nombre">
        </div>
        <span class="is-invalid" *ngIf="nombreNoValido">
          *El nombre es obligatorio
        </span>

        <div>
          <label for="">Valor nitario</label>
          <input type="text"
          formControlName="valorUni"
          placeholder="Valor unitario">
          </div>
          <span class="is-invalid" *ngIf="valorNoValido">
            *El Valor unitario es obligatorio
          </span>


          <div>
            <label for="">Iva</label>
            <select name="select" formControlName="iva">
              <option value="value1">IVA 69</option>
              <option value="value2" selected>IVA 68</option>
              <option value="value3">IVA 67</option>
              <option value="value3">IVA 6</option>
            </select>


            </div>
            <span class="is-invalid" *ngIf="ivaNoValido">
              *Seleccione al menos un campo
            </span>
      <button type="submit" [disabled]="!form.valid">Crear</button>



    </form>



  </div>

</div>

<hr>
<pre>
  Estado del formulario {{form.valid}}
<br>
Estatus : {{form.status}}
</pre>

<pre>
  {{form.value | json}}
</pre>

