
<div class="container">
<div class="login-page">
  <img src="./assets/img/logo.jpg" alt="logo empresa">
  <div class="form">
    <form class="register-form" [formGroup]= "contactForm" class="register" (ngSubmit)="login(contactForm.value)">
      <input type="email"
      formControlName="email"
      placeholder="Correo electrónico">
      <span  class="is-invalid" *ngIf="emailNoValido">
        *El email es obligatorio
      </span>
      <input type="password"
      formControlName="password"
      placeholder="Contraseña" >
      <span  class="is-invalid"
      *ngIf="passwordNoValido">
        *La contraseña es obligatoria
      </span>
      <button type="submit" class="btn-login" [disabled]="!contactForm.valid">Ingresar</button>
    </form>

  </div>
  <p><a href="http://">¿Olvidaste tu contraseña?</a></p>

  <span class="is-invalid" *ngIf="error">
    <p >{{message}}</p>
  </span>

</div>


</div>

<hr>
<pre>
  Estado del formulario {{contactForm.valid}}
<br>
Estatus : {{contactForm.status}}
</pre>

<pre>
  {{contactForm.value | json}}
</pre>


