
<div class="container">
<div class="login-page">
  <img src="./assets/img/logo.jpg" alt="logo empresa">
  <div class="form">
    <form class="register-form" [formGroup]= "contactForm" class="register">
      <input type="email"  formControlName="email"  placeholder="Correo electrónico">
      <input type="password" formControlName="password" placeholder="Contraseña" >
      <button type="submit" class="btn-login">Ingresar</button>
    </form>

  </div>
  <p><a href="http://">¿Olvidaste tu contraseña?</a></p>



</div>
</div>


