<div class="container">
  <section class="menu-icon">
    <h1>ECO</h1>

    <div>
      <button><a href="" class="icons"> <i class="fas fa-shopping-cart"></i></a></button>
    </div>
    <div>
      <button><a href="" class="icons"> <i class="far fa-edit"></i></a></button>
    </div>
    <div>
      <button><a href="" class="icons"> <i class="fas fa-book"></i></a></button>
    </div>
    <div>
      <button><a href="" class="icons"> <i class="fas fa-money-bill"></i></a></button>
    </div>

    <div>
      <button><a href="" class="icons"> <i class="fas fa-newspaper"></i></a></button>
    </div>

    <div class="logout">
      <a href="" class="icons"> <i class="fas fa-sign-out-alt"></i></a>
    </div>
  </section>
  <div class="container-products">
    <h2>
      Productos <a href="" class="icons-plus"> <i class="fas fa-plus-circle"></i></a>
    </h2>

    <div>

    </div>
    <div>

    </div>
  </div>

</div>
