<div class="container">
  <section class="menu-icon">
    <h1>ECO</h1>

    <div class="icon">
      <button><a href="" class="icons"> <i class="fas fa-shopping-cart"></i></a></button>
    </div>
    <div class="icon">
      <button><a href="" class="icons"> <i class="far fa-edit"></i></a></button>
    </div>
    <div class="icon">
      <button><a href="" class="icons"> <i class="fas fa-book"></i></a></button>
    </div>
    <div class="icon">
      <button><a href="" class="icons"> <i class="fas fa-money-bill"></i></a></button>
    </div>

    <div class="icon">
      <button><a href="" class="icons"> <i class="fas fa-newspaper"></i></a></button>
    </div>

    <div class="logout icon">
      <a href="" class="icons"> <i class="fas fa-sign-out-alt"></i></a>
    </div>
  </section>
  <div class="container-products">
    <h2>
      Productos <a href="" class="icons-plus"> <i class="fas fa-plus-circle"></i></a>
    </h2>
    <div class="search">
      <input type="search" name="filterProducts" placeholder="Busca tu producto">
      <a href="" class="icons-plus"><i class="fas fa-search"></i></a>
    </div>

    <div class="Layout-products">
      <div id="grid">
        <img src="assets/img/logo.jpg" alt="">
        <p>Una grid</p>
        <p>Una grid</p>
        <p>Una grid</p>
        <button class="info">Editar</button>
        <button class="warning">Borrar</button>
      </div>

      <div id="grid" >
        <img src="assets/img/logo.jpg" alt="">
        <p>Una grid</p>
        <p>Una grid</p>
        <p>Una grid</p>
        <button class="info">Editar</button>
        <button class="warning">Borrar</button>
      </div>

      <div id="grid">
        <img src="assets/img/logo.jpg" alt="">
        <p>Una grid</p>
        <p>Una grid</p>
        <p>Una grid</p>
        <button class="info">Editar</button>
        <button class="warning">Borrar</button>
      </div>

      <div id="grid">
        <img src="assets/img/logo.jpg" alt="">
        <p>Una grid</p>
        <p>Una grid</p>
        <p>Una grid</p>
        <button class="info">Editar</button>
        <button class="warning">Borrar</button>
      </div>

      <div id="grid">
        <img src="assets/img/logo.jpg" alt="">
        <p>Una grid</p>
        <p>Una grid</p>
        <p>Una grid</p>
        <button class="info">Editar</button>
        <button class="warning">Borrar</button>
      </div>

      <div id="grid">
        <img src="assets/img/logo.jpg" alt="">
        <p>Una grid</p>
        <p>Una grid</p>
        <p>Una grid</p>
        <button class="info">Editar</button>
        <button class="warning">Borrar</button>
      </div>


    </div>



  </div>

  <app-product class="component"></app-product>
</div>


